@import '../../theme/theme.less';

.footer {
  background-color: #454545;
  height: 5vw;
  padding: 0 4%;
}

.menu {
  float: left;
  margin-right: 2vw;
  color: white;
  height: 5vw;
  line-height: 5vw;
  font-size: 0.9vw;
}

.right {
  float: right;
  color: white;
  height: 5vw;
  line-height: 5vw;
  font-size: 0.9vw;
}

.logo_position {
  display: flex;
  float: left;
  height: 5vw;
  width: 16vw;
  align-items: center;
}

.logo {
  width: 8vw;
  align-items: center;
}
